<div class="container col-lg-6 card mt-5 mb-5">
    <h1 class="card-header text-center">Panier</h1>

        <ul class="list-group bg-light mb-2 mt-2">
            <% total = 0%>
            <% @user_cart.each do |i|%>
        <li class="list-group-item d-flex justify-content-between align-items-center" id="cat-item-<%= i.item.id %>">
            <%= link_to i.item.title, item_path(i.item.id) %>  <%= i.item.price%> €
            
            <% total = total + i.item.price %>


            <div class ="">
                <%= link_to item_cart_item_path(i.item.id,i.id), class: "text-danger font-weight-normal", method:"delete", remote: true do%>
                <i class="fas fa-trash-alt"></i>
                <% end %>
            </div>

           <% end %>
        </li>
          <h5 class="bg-light text-right pr-5 mt-3"> Total = <%= total%> €</h5>
          <%= render 'orders/new' %>
        </ul>
</div>
