<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary ml-1">
   <%= link_to 'Shop Kitties', items_path, class: 'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Accueil', items_path, class: 'nav-link'%>
      </li>
      <li class="nav-item active">
        <% if user_signed_in? %>
        <%= link_to 'Panier', cart_path(current_user.cart_id), class: 'nav-link'%>
        <%end%>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compte</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>

            <%= link_to "Mon profil", user_path(current_user.id), class: 'dropdown-item'  %>

            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>

          <% else %>

            <%= link_to "Se connecter", new_user_session_path, class: 'dropdown-item'  %>

            <%= link_to "S'inscrire", new_user_registration_path, class: 'dropdown-item'  %>

        <% end %>
        </div>
        </li>
    </ul>
   <div class="nav-item mr-2 text-white"> Trouve un chaton en tapant son nom : </div> 
      <%= form_tag(items_path, method: "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Ex. psyduck", class: "form-control" %>  
    <div class="input-group-btn">
      <%= button_tag "", class: "btn btn-info       fas fa-search",:name => nil%> 

    </div>  
  </div>  
<% end %>
    </form>
  </div>
</nav>
